@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Popins", system-ui, sans-serif;
  font-weight: 400;
}

body {
  font-size: 0.875rem;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  outline: none;
  border-style: none;
  -o-border-image: none;
     border-image: none;
}

.container_box {
  max-width: 86%;
  width: 100vw;
  margin: 0 auto;
  position: relative;
}

.action_btn {
  width: 13.9375rem;
  height: 4.125rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 0.125rem;
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0%, 100% 25%, 100% 100%, 0% 100%);
  cursor: pointer;
  margin-top: 2.5rem;
}
.action_btn .action_btn_text {
  color: #1b1b1b;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.42px;
  text-transform: uppercase;
}
.action_btn .square {
  width: 3.8125rem;
  height: 3.875rem;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0% 0%, 65% 0%, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 65% 0%, 100% 25%, 100% 100%, 0% 100%);
}
.action_btn .square img {
  display: block;
  width: 0.875rem;
  height: 0.6875rem;
}

.col {
  width: 50%;
}

header {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 8.75rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.top_plane {
  width: 100%;
  height: 8.75rem;
  display: flex;
}

.header_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 13.8125rem;
}

.menu {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu_desktop {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 25%, 100% 100%, 0% 100%);
  color: #000;
  width: 8.5rem;
  height: 4.125rem;
  text-transform: uppercase;
  background: #f9fafe;
  display: flex;
  position: relative;
  align-items: center;
}
.menu_desktop .black_line {
  position: absolute;
  width: 0.125rem;
  height: 92%;
  background: #000;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}

.menu_bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1.5rem;
  height: 0.4375rem;
  position: relative;
  gap: 0.375rem;
}
.menu_bar .up_line {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
}
.menu_bar .line1 {
  background: #000;
  height: 0.125rem;
  width: 60%;
}
.menu_bar .line2 {
  background: #000;
  height: 0.125rem;
  width: 30%;
}
.menu_bar .line3 {
  background: #000;
  height: 0.125rem;
  width: 100%;
}

.menu_open {
  background: url(/assets/img/bg_menu.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  max-height: 0vh;
  overflow: hidden;
}
.menu_open .fiter_bg {
  width: 100%;
  height: auto;
  min-height: 100vh;
  -webkit-backdrop-filter: brightness(0.5) contrast(2.2);
          backdrop-filter: brightness(0.5) contrast(2.2);
}

.menu_col {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  color: #fff;
}

.w1-3 {
  width: 33.33333%;
  height: auto;
}

.menu_ul {
  margin-bottom: 3.125rem;
}

.menu_ul ul {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 162%;
  text-align: right;
  margin-right: 7vw;
  margin-top: 8.75rem;
}
.menu_ul ul li {
  margin-top: 1.375rem;
  letter-spacing: 0.1rem;
}

.linear_gr {
  background: linear-gradient(92deg, rgba(0, 169, 239, 0.1) 1.41%, rgba(0, 0, 0, 0) 57.89%, rgba(0, 169, 239, 0.1) 93.33%);
}

.posa {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu_open_info_block {
  margin-left: 7vw;
  margin-top: 8.75rem;
  display: flex;
}

.menu_open_subtitle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-transform: uppercase;
  margin-top: 1.25rem;
}
.menu_open_subtitle .square {
  display: flex;
  width: 0.625rem;
  height: 0.625rem;
  flex-shrink: 0;
  background: #fff;
  margin-right: 0.3125rem;
}

.menu_open_title {
  max-width: 30.375rem;
  color: #f9fafe;
  font-family: Poppins;
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  letter-spacing: -1.59px;
  margin-top: 1.25rem;
}

.menu_open_text {
  max-width: 25.0625rem;
  color: #fff;
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 176%;
  margin-top: 1.25rem;
}
.menu_open_text p {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.menu_open_contacts {
  display: flex;
  margin-top: 4.8125rem;
}
.menu_open_contacts .icon {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 1.25rem;
}
.menu_open_contacts .text {
  color: #f9fafe;
  margin-right: 1.25rem;
}

/******************** footer *******************/
footer {
  overflow: hidden;
  min-height: 30rem;
  height: auto;
  width: 100%;
  background: #0f0f0f;
  background-image: url(/assets/img/bg_footer.png);
  background-repeat: no-repeat;
  background-position: top top;
  background-size: contain;
}

.grid_footer {
  display: grid;
  grid-template-columns: 2fr 0.8fr 1fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . .";
  color: #fff;
  margin-top: 4rem;
}
.grid_footer .flexmid {
  display: flex;
  margin-left: 30%;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .grid_footer {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: ". . .";
  }
  .grid_footer .mob_hide {
    display: none;
  }
}

.footer_logo_wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer_logo_wrap .line {
  position: relative;
  right: 0%;
  top: 0;
  width: 0.125rem;
  height: 3.5rem;
  background: #fff;
  opacity: 0.2;
}

.logo_westmount {
  width: 17.75rem;
  height: 2.3125rem;
  position: relative;
  padding-right: 1.25rem;
}

.logo_navacord {
  width: 11.125rem;
  height: 2.3125rem;
  padding-left: 1.25rem;
}

.footer_col {
  font-family: "Montserrat", sans-serif;
}
.footer_col .title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  white-space: nowrap;
}

.footer_col_menu li {
  line-height: 170%;
  margin-bottom: 0.375rem;
}
.footer_col_menu .li125 {
  line-height: 125%;
}
@media (max-width: 1350px) {
  .footer_col_menu .li125m {
    line-height: 125%;
  }
}

.footer_line_w {
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.2;
  margin-top: 9.375rem;
}

.footer_social_wrap {
  color: #fff;
  position: absolute;
  bottom: -6.5625rem;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
}

.footer_btn_in {
  width: 6.9375rem;
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer_btn_in img {
  width: 1.25rem;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer_btn_insta {
  width: 6.9375rem;
  height: 3.875rem;
  display: flex;
  position: relative;
  margin-left: -1.875rem;
}
.footer_btn_insta svg {
  transform: scale(-1);
}
.footer_btn_insta img {
  width: 1.25rem;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer_contacts {
  margin-left: 2.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_contacts p {
  white-space: nowrap;
}
.footer_contacts p:first-child {
  margin-bottom: 0.625rem;
}

.footer_copyright_wrap {
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer_copyright_wrap .devby {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer_copyright {
  height: 4.375rem;
  display: flex;
  align-items: center;
}

.footer_left_text {
  display: flex;
  flex-wrap: nowrap;
}
.footer_left_text p:first-child {
  margin-right: 3.75rem;
}

.section_hero_slider {
  position: relative;
}

.gradient_bg {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.hero_bg_logo {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0%;
  left: 0%;
}

.hero_bg_building {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 43rem;
  width: 48vw;
  bottom: 0%;
  right: 0%;
}

.h2hero_wrap {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.h2hero_bottom_wrap {
  display: flex;
}

.h2hero {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: nowrap;
  font-size: 2.9375rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  margin: 0;
  position: relative;
}

.quot_left {
  font-family: "Palanquin Dark", system-ui, sans-serif;
  font-size: 4rem;
  color: #00a9ef;
  position: absolute;
  left: 0;
  top: -2.8125rem;
  transform: scale(-1);
}

.quot_right {
  font-family: "Palanquin Dark", system-ui, sans-serif;
  color: #00a9ef;
  font-size: 4rem;
  transform: scaleY(-1);
  position: absolute;
  right: -1.875rem;
  top: -2.8125rem;
}

.buttons_wrap {
  display: flex;
}

/* buttons */
.btn {
  display: flex;
  transition: 0.5s all ease-in-out;
  text-transform: uppercase;
  display: flex;
}

.contact_us {
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0%, 100% 25%, 100% 100%, 0% 100%);
  color: #fff;
  width: 10.3125rem;
  height: 4.125rem;
  background: #00a9ef;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: space-between;
  margin-right: 0.625rem;
}
.contact_us i {
  width: 0.875rem;
  height: 0.6875rem;
  display: flex;
}

.position_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2hero_overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.h2hero_bottom_menu_wrap {
  width: 100%;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4.875rem;
  margin-left: 0;
}

.h2hero_bottom_line {
  height: 0.03125rem;
  width: 100%;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  bottom: 2.6875rem;
}

.slider_controls {
  position: absolute;
  bottom: 4.8125rem;
  right: 7%;
  display: flex;
  z-index: 99;
}

.button_slider {
  width: 3.75rem;
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_next {
  margin-left: 0.625rem;
  transform: scaleX(-1);
  cursor: pointer;
}

.btn_prev {
  cursor: pointer;
}

.section_home_about {
  background: radial-gradient(59.53% 53.31% at 78.15% 42.3%, #29343a 15.62%, #1e1e1e 100%);
  width: 100%;
  height: auto;
  padding-top: 6.25rem;
  position: relative;
}
.section_home_about .text_wrap {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3.4375rem;
}
.section_home_about .text {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 128%;
  color: #fff;
  max-width: 23.625rem;
  margin-top: -9.375rem;
}
.section_home_about .text_l {
  color: #fff;
  font-size: 0.875rem;
  line-height: 158%;
  max-width: 19.625rem;
  margin-right: 3.75rem;
}
.section_home_about .text_r {
  color: #fff;
  font-size: 0.875rem;
  line-height: 158%;
  max-width: 18.8125rem;
}

.section_home_about_bg_image {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 9.375rem;
  bottom: 12.5rem;
  opacity: 0.05;
}

.sub_title {
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.section_top_title {
  display: flex;
  justify-content: space-between;
}

.octagon-icon {
  width: 0.6875rem;
  height: 0.6875rem;
  background: #f9fafe;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  margin-right: 0.3125rem;
}

.section_title {
  color: #fff;
  font-size: 3.9375rem;
  font-weight: 300;
  line-height: 113%;
  max-width: 27.5rem;
  margin-top: 2.8125rem;
  letter-spacing: 0.25rem;
}

.section_sub_title {
  color: #fff;
  font-size: 1rem;
  line-height: 158%;
  max-width: 17.3125rem;
  margin-top: 1.5625rem;
}

.section_building_image_block {
  width: 100%;
  height: 67.375rem;
}

.section_building_image_wrap {
  max-width: 67.5rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -11.875rem;
}
.section_building_image_wrap .notice {
  position: absolute;
  width: 4.6875rem;
  height: 4.625rem;
  top: 18.5%;
  right: 8%;
  display: flex;
}
.section_building_image_wrap .notice .txt {
  min-width: 5.9375rem;
  color: #fff;
  font-weight: 300;
  margin-left: 0.625rem;
}
.section_building_image_wrap .notice_b {
  position: absolute;
  width: 4.6875rem;
  height: 4.625rem;
  bottom: 24%;
  left: 0%;
  display: flex;
  align-items: flex-end;
}
.section_building_image_wrap .notice_b .txt {
  min-width: 10.4375rem;
  color: #fff;
  font-weight: 300;
  margin-left: 0.625rem;
  margin-bottom: -1.25rem;
}

.notice_b_image {
  transform: scaleY(-1);
}

.mt_action_btn {
  margin-top: 3.75rem;
}

.section_building_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.big_title_svg {
  height: 10.625rem;
  width: auto;
  margin-top: 10.625rem;
  position: relative;
}
.big_title_svg img {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2);
  transform-origin: 50% 50%;
}

.section_home_surety {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section_home_surety .section_home_surety_title {
  color: #f9fafe;
  font-size: 3.3125rem;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: -1.59px;
  text-transform: uppercase;
  max-width: 46.875rem;
  flex-direction: column;
}
.section_home_surety .height_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section_home_surety .title_wrap {
  display: flex;
  flex-direction: column;
}

.section_home_surety_bg_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.section_home_cards {
  padding-top: 6.25rem;
  background-color: #1b1b1b;
  padding-bottom: 12.5rem;
}

.section_title_max_w {
  max-width: 35.625rem;
}

.section_home_cards_wrap {
  margin-top: 5.625rem;
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  gap: 4.375rem;
}

.section_home_card_item_wrap {
  background: radial-gradient(59.53% 53.31% at 78.15% 42.3%, #29343a 15.62%, #1e1e1e 100%);
  width: 34.75rem;
  height: 19.875rem;
  position: relative;
}
.section_home_card_item_wrap .corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-right: none;
  -o-border-image: linear-gradient(45deg, rgb(0, 169, 239) 0%, rgba(0, 169, 239, 0) 40%) 1;
     border-image: linear-gradient(45deg, rgb(0, 169, 239) 0%, rgba(0, 169, 239, 0) 40%) 1;
  transition: 0.3s all ease-out;
}

.section_home_card_item_wrap:hover .corner {
  width: 11.25rem;
  height: 11.25rem;
  transition: 0.3s all ease-in;
}

.section_home_cards .action_btn {
  margin: 3.75rem auto 0;
}

.section_home_card_item {
  width: 34.8125rem;
}
.section_home_card_item svg {
  position: absolute;
  width: 100%;
}
.section_home_card_item .card_text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 158%;
  color: #fff;
  max-width: 18.75rem;
  top: 2.375rem;
  left: 2rem;
  position: absolute;
}

.section_home_card_item:nth-child(even) {
  display: grid;
  justify-self: end;
}

.section_home_card_item:nth-child(odd) {
  display: grid;
  justify-self: start;
}

.section_home_card_item_bg {
  -webkit-clip-path: polygon(69% 0, 100% 0, 100% 100%, 14% 100%);
          clip-path: polygon(69% 0, 100% 0, 100% 100%, 14% 100%);
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

.section_home_card_item_small_image {
  width: 3.3125rem;
  height: 4rem;
  position: absolute;
  left: 7%;
  bottom: 15%;
}

.section_home_solutions {
  background: url(/assets/img/solutions.jpg);
  background-position: 50% 0%;
  background-size: cover;
  padding-top: 7.8125rem;
  padding-bottom: 12.5rem;
  max-width: 100%;
  overflow: hidden;
}
.section_home_solutions .sub_title {
  color: #0f0f0f;
}
.section_home_solutions .octagon-icon {
  background: #0f0f0f;
}
.section_home_solutions .section_title {
  color: #0f0f0f;
  letter-spacing: 0;
}

.solutions_slider_controls {
  display: flex;
  flex-wrap: nowrap;
}

.solutions_controls_wrap {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.solutions_controls_wrap .section_title {
  margin: 0;
}

.solutions_swiper_container {
  margin-top: 3.4375rem;
  width: 135%;
}

.swiper_item {
  width: 24.6875rem;
  height: 19.375rem !important;
  -webkit-clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 6%);
          clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 6%);
  background: radial-gradient(59.53% 53.31% at 78.15% 42.3%, #29343A 15.62%, #1E1E1E 100%);
  position: relative;
  display: flex;
}

.swiper_item_block {
  padding-top: 1.875rem;
  padding-left: 3.4375rem;
  padding-right: 3.4375rem;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper_item_title {
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 124%;
}

.swiper_item_link {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 136%;
  text-decoration-line: underline;
  text-transform: uppercase;
  display: block;
}
.swiper_item_link i {
  margin-left: 0.625rem;
}

.solutions_swiper_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
}

.section_home_team {
  height: auto;
  padding-bottom: 7.625rem;
  padding-top: 7.125rem;
}
.section_home_team .section_home_team_title {
  color: #fff;
  font-size: 3.9375rem;
  font-weight: 300;
  margin-top: 0.625rem;
}
.section_home_team .action_btn {
  margin-top: 3.75rem;
}

.section_home_team_bg {
  margin-top: 3.125rem;
  -webkit-clip-path: polygon(6% 0%, 100% 0, 100% 80%, 93% 100%, 0 100%, 0% 15%);
          clip-path: polygon(6% 0%, 100% 0, 100% 80%, 93% 100%, 0 100%, 0% 15%);
  position: relative;
}
.section_home_team_bg .corner {
  position: absolute;
  width: 17.5rem;
  height: 17.5rem;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-right: none;
  -o-border-image: linear-gradient(45deg, rgb(0, 169, 239) 0%, rgba(0, 169, 239, 0) 50%) 1;
     border-image: linear-gradient(45deg, rgb(0, 169, 239) 0%, rgba(0, 169, 239, 0) 50%) 1;
  transition: 0.3s all ease-out;
}
.section_home_team_bg .corner_l {
  bottom: 0;
  left: 0;
}
.section_home_team_bg .corner_r {
  top: 0;
  right: 0;
  transform: scale(-1);
}

.section_home_company {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section_home_company .section_wrap {
  position: relative;
  height: 100vh;
}
.section_home_company .title_wrap {
  display: flex;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  flex-direction: column;
  width: 100%;
}
.section_home_company .title {
  color: #FFF;
  font-family: Poppins;
  font-size: 63px;
  font-style: normal;
  font-weight: 300;
  line-height: 113.5%; /* 71.505px */
}
.section_home_company .sub_title_hero {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 158%; /* 22.12px */
}
.section_home_company .line {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 1px;
  background: #FFF;
  opacity: 0.5;
}

.section_company_w {
  width: 100%;
  padding-top: 9.375rem;
  padding-bottom: 3.75rem;
  position: relative;
  height: 100rem;
  overflow: hidden;
}
.section_company_w .section_title {
  margin-top: 1rem;
}
.section_company_w .section_top_title {
  flex-wrap: nowrap;
}

.section_company_w_bg_image {
  width: 100%;
  height: 100%;
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3.75rem;
}

.section_company_w_image {
  width: 55.5625rem;
  height: 85.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section_title_wrap {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.middle_sub_title {
  color: #FFF;
  font-size: 0.875rem;
  margin-top: 1.25rem;
  line-height: 158%;
  position: relative;
}

.right_sub_title {
  margin-top: 1.25rem;
}

.text_above_w {
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  line-height: 110%;
  max-width: 36rem;
  min-width: 36rem;
  position: absolute;
  top: 12.5rem;
  left: 0%;
}
.text_above_w span {
  color: #00A9EF;
  margin-right: 10px;
}

.section_company_w_text_wrap {
  margin-top: 47.4375rem;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.section_company_w_text_l {
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  line-height: 110%;
  max-width: 22.8125rem;
}

.section_company_w_r {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  max-width: 16.9375rem;
  margin-left: 9.0625rem;
}

/* admin bar fix */
body.admin-bar {
  max-height: calc(100vh - 32px);
}/*# sourceMappingURL=styles.css.map */