/* stylelint-disable */

@mixin burger($sizeX, $sizeY, $line_height) {
  --burger-line-height: 3px;
  --border-radius: 0px;

  position: relative;
  border: none;
  padding: 0;
  width: $sizeX;
  height: $sizeY;
  color: rgba(var(--cl-f),1.0);
  clip-path: var(--polly-button);
  flex-shrink: 0;
  cursor: pointer;
  background-color: rgba(var(--bg-a),1.0);

  &::before,
  &::after {
    content: "";
    position: absolute;
    //left: 50%;
    width: toRem(17);
    height: $line_height;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    border-radius: var(--border-radius);
    //trans
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $line_height);

  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $line_height;
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
