@mixin overlay {
  position: fixed;
  height: 100%;
  display: flex;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
  padding: 20px 20px;
  overflow-y: auto;
  background:  rgba(var(--bg-d),.5);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;

  transition: all .4s ease-out;


  pointer-events: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include for-tablet {
    display: none;
  }

  &.active {
    //transition-delay: 0.5s;
    left: 320px;
    visibility: visible;
    opacity: 1;

    transition: all 0.6s;

    pointer-events: initial;

    &-mode {
      z-index: 100;
    }

    @include ios {
      left: 100%;
      opacity: 0;
    }
  }

  &.active-drawer {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
    transition: all 0.6s;
    background-color: transparent;
  }





}
