.article-hero {
  background: linear-gradient(180deg, #23262C 0%, #434951 100%);
  position: relative;
  padding: calc(var(--header-height) + toRem(60)) 0 toRem(60);
  min-height: toRem(669);
  max-height: 100vh;
  display: flex;
  //
  &:first-of-type {
    padding: calc(var(--header-height) + toRem(60)) 0 toRem(60);
  }

  .section-bg {
    top: 0;
    opacity: 1;
    background-position: bottom right;

  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(30);
    height: 100%;
  }

  //.container {
  //  display: flex;
  //  height: 100%;
  //}
}