.article-content {
  background-color: rgba(var(--bg-a),1.0);
  color: rgba(var(--cl-d),1.0);
  padding: toRem(130) 0;

  @include small-tablet {
    padding: clamp(120px, 16.95vw, 130px) 0 clamp(115px, 14.99vw, 130px);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: toRem(78);

    @include  small-tablet {
      gap: clamp(40px, 9.13vw, 70px);
    }
  }

  &__text {
    color: rgba(var(--cl-d),1.0);
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 22.12px */

    max-width: toRem(505);

    @include small-tablet {
      max-width: 100%;
    }

    p {
      color: rgba(var(--cl-d),1.0);
      font-size: toRem(14);
      font-style: normal;
      font-weight: 400;
      line-height: 158%; /* 22.12px */
    }
  }

  .tabs-nav {
    display: flex;
    align-items: center;
    gap: toRem(12);
    flex-wrap: wrap;
    //width: 100%;
    //max-width: 400px;

    li {
      @include mobile {
        width: 100%;
      }
    }
  }


  .accordion {

    &__item {
      padding: toRem(25) 0 toRem(25);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(20) toRem(50);
      position: relative;

      border-top: toRem(1) solid #DBDCDE;

      @include small-tablet {
        grid-template-columns: 100%;
        gap: 20px;
        padding: 23px 0;
      }

      &:after {
        transform: translateY(-60%);
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: toRem(3) solid transparent;
        border-bottom: toRem(3) solid transparent;
        border-left: toRem(6) solid #DBDCDE;
      }

      &:last-of-type {
        border-bottom: toRem(1) solid #DBDCDE;

        &:before {
          transform: translateY(60%);
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          bottom: 0;
          border-top: toRem(3) solid transparent;
          border-bottom: toRem(3) solid transparent;
          border-left: toRem(6) solid #DBDCDE;
        }
      }
    }

    &__content {
      &.active[style="max-height: 0px;"] {
        max-height: 100% !important;
      }
    }

    &__btn {
      display: grid;
      grid-template-columns: toRem(30) 1fr;
      gap: toRem(30);
      color: #0F0F0F;
      font-family: Poppins;
      font-size: toRem(26);
      font-style: normal;
      font-weight: 300;
      line-height: 128%; /* 33.28px */
      position: relative;
      //justify-items: center;
      align-items: flex-start;
      text-align: left;
      transition: all 300ms ease;

      &:not(.active) {
        margin-bottom: calc(toRem(20) * -1);

        @include  small-tablet {
          margin-bottom: -20px;
        }
      }

      @include small-tablet {
        font-size: clamp(20px, 3.39vw, 26px);

        grid-template-columns: clamp(23px, 3.91vw, 30px) 1fr;
        gap: clamp(17px, 3.91vw, 30px);
      }

      &:before {
        grid-row: 1;
        grid-column: 1;
        content: '';
        width: 100%;
        aspect-ratio: 1/1;
        background-color:rgba(var(--bg-d),1.0);
        clip-path: var(--polly-button);

        top: 0;
        transition: opacity 300ms  ease;
        background-image: var(--minus);
        background-repeat: no-repeat;
        background-position: center center;
      }

      &:after {
        position: absolute;
        //z-index: 2;
        grid-column: 1;
        grid-row: 1;
        content: '';
        left: toRem(1);
        top: toRem(1);
        grid-column: 1;
        width: toRem(28);
        height: toRem(28);
        background-color:rgba(var(--bg-a),1.0);
        clip-path: var(--polly-button);

        background-image: var(--plus);
        background-repeat: no-repeat;
        background-position: center center;
        transition: opacity 300ms  ease;

        @include small-tablet {
          width: calc(clamp(23px, 3.91vw, 30px) - 2px);
          height: calc(clamp(23px, 3.91vw, 30px) - 2px);

          left: 1px;
          top: 1px;
        }
      }

      &.active {
       @include for-mobile {
         gap: toRem(60);
       }

        &:after {
          opacity: 0;
        }

        &:before {
          background-color: rgba(var(--bg-f),1.0);
        }
      }

    }

  }


}