.section_home_cards {
  padding-top: toRem(100);
  background-color: $dark;
  padding-bottom: toRem(200);

  @include laptop {
    padding-top: 120px;
    padding-bottom: clamp(120px, 16.667vw, 200px);
  }

  @include mobile {
    background-size: 200% !important;
    background-position: top center !important;
  }
}

.section_title_max_w {
  max-width: 100%;
}

.section_home_cards_wrap {
  margin-top: toRem(90);
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  //grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  gap: toRem(70) toRem(127);

  @include laptop {
    margin-top: clamp(30px, 7.5vw, 90px);
    gap: clamp(20px, 5.833vw, 70px);
  }

  @include small-tablet {
    gap: 20px;
    grid-template-columns: 100%;
  }
}

.section_home_card_item_wrap {
  background: radial-gradient(59.53% 53.31% at 78.15% 42.3%, #29343a 15.62%, #1e1e1e 100%);
  width: 100%;
  //width: toRem(556);
  height: toRem(318);
  position: relative;

  @include mobile {

    & > svg {
      display: none;
    }
  }

  .corner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: toRem(80);
    height: toRem(80);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-image: linear-gradient(45deg, rgba(0, 169, 239, 1) 0%, rgba(0, 169, 239, 0) 40%) 1;
    transition: 0.3s all ease-out;
  }
}

.section_home_card_item_wrap:hover .corner {
  width: toRem(180);
  height: toRem(180);
  transition: 0.3s all ease-in;
}

.section_home_cards .action_btn {
  margin: toRem(60) auto 0;

  @include mobile {
    margin-top: 50px;
  }
}

.section_home_card_item {
  width: 100%;
  //width: toRem(557);

  svg {
    position: absolute;
    width: 100%;
  }

  .card_text {
    font-size: toRem(16);
    font-weight: 300;
    line-height: 158%;
    color: #fff;
    max-width: toRem(300);
    top: toRem(38);
    left: toRem(32);
    position: absolute;

    @include mobile {
      font-size: 14px;
      top: 18px;
      left: 24px;
      right: 24px;
    }
  }
}

.section_home_card_item:nth-child(even) {
  display: grid;
  justify-self: end;
}

.section_home_card_item:nth-child(odd) {
  display: grid;
  justify-self: start;
}

.section_home_card_item_bg {
  clip-path: polygon(69% 0, 100% 0, 100% 100%, 14% 100%);
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;

  &:before {
    inset: 0;
    background-color: rgba(var(--bg-f),1.0);
    position: absolute;
    content: '';
    clip-path: polygon(15vw 0, 70% 0, 15% 100%, -30% 100%)
  }

  @include mobile {
    clip-path: polygon(72vw 0, 100% 0, 100% 100%, 15% 100%);

    &:before {
      clip-path: polygon(72vw 0, 72vw 0, 9vw 100%, 15% 100%);
    }


  }
}

.section_home_card_item_small_image {
  width: toRem(53);
  height: toRem(64);
  position: absolute;
  left: 7%;
  bottom: 15%;
}
