.section_home_team {
  height: auto;
  padding-bottom: toRem(122);
  padding-top: toRem(114);

  @include small-tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section_home_team_title {
    color: #fff;
    font-size: toRem(63);
    font-weight: 300;
    margin-top: toRem(10);
    
    @include laptop {
      font-size: clamp(30px, 5.25vw, 63px);
    }

    @include mobile {
      margin-top: 45px;
    }
  }
  .action_btn {
    margin-top: toRem(60);
  }
}

.section_home_team_bg {
  margin-top: toRem(50);
  clip-path: polygon(6% 0%, 100% 0, 100% 80%, 93% 100%, 0 100%, 0% 15%);
  position: relative;

  @include small-tablet {
    min-height: clamp(250px, 38.333vw, 460px);
    height: initial !important;
  }

  @include mobile {
    margin-top: 40px;
    clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%)
  }

  .corner {
    position: absolute;
    width: toRem(280);
    height: toRem(280);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-image: linear-gradient(45deg, rgba(0, 169, 239, 1) 0%, rgba(0, 169, 239, 0) 50%) 1;
    transition: 0.3s all ease-out;
  }
  .corner_l {
    bottom: 0;
    left: 0;
  }
  .corner_r {
    top: 0;
    right: 0;
    transform: scale(-1);
  }
}
