header {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  //height: toRem(140);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: toRem(20) 0;
  background: linear-gradient(180deg, #24272D 0%, rgba(36, 39, 45, 0.00) 100%);

  &.fixed {
    padding: toRem(20) 0 0;
  }
}

.top_plane {
  width: 100%;
  display: flex;
}

.header_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  max-width: toRem(221);
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.menu {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu_desktop {
  clip-path: polygon(0% 0%, 85% 0%, 100% 25%, 100% 100%, 0% 100%);
  color: #000;
  width: toRem(136);
  height: toRem(66);
  text-transform: uppercase;
  background: $grey;
  display: flex;
  position: relative;
  align-items: center;

  .black_line {
    position: absolute;
    width: toRem(2);
    height: 92%;
    background: #000;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
  }
}

.menu_bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: toRem(24);
  height: toRem(7);
  position: relative;
  gap: toRem(6);

  .up_line {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
  }
  .line1 {
    background: #000;
    height: toRem(2);
    width: 60%;
  }
  .line2 {
    background: #000;
    height: toRem(2);
    width: 30%;
  }
  .line3 {
    background: #000;
    height: toRem(2);
    width: 100%;
  }
}

.contacts,
.social {
  display: flex;
  align-items: center;
  gap: toRem(20);

  a {
    display: flex;
    align-items: center;

    color: rgba(var(--cl-c),1.0);
    font-family: var(--font-family);
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    //text-transform: uppercase;
  }
}