.section_home_surety {
  padding-top: toRem(45);
  padding-bottom: toRem(60);
  position: relative;
  width: 100%;
  overflow: hidden;

  @include laptop {
    min-height: clamp(450px, 58.333vw, 700px) !important;
  }

  @include mobile {
    padding: 30px 0;
    min-height: 450px !important;
  }

  .mt_action_btn {
    @include for-full-hd {
      margin-bottom: 0;
    }
  }

  .section_home_surety_title {
    color: $grey;
    font-size: toRem(53);
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -1.59px;
    text-transform: uppercase;
    max-width: toRem(750);
    flex-direction: column;

    @include small-tablet {
      font-size: clamp(30px, 4.417vw, 53px);
      max-width: clamp(290px, 54.833vw, 658px);
    }
  }

  .height_wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // min-height: 100%;

    padding-bottom: toRem(0);

    @include for-full-hd {
      gap: 12vw;
    }
  }

  .title_wrap {
    display: flex;
    flex-direction: column;
  }
}

.section_home_surety_bg_video{
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section_home_surety_bg_image,
.section_home_surety_bg_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include mobile {
    background-position: 65% !important;
    right: initial !important;
    width: 100% !important;
    left: initial !important;
    //background-size: contain !important;
  }
}

.section_home_team + .section_home_surety,
.team-section + .section_home_surety {
  .section_home_surety_bg_image {
    @include mobile {
      background-position: left center !important;
      background-size: contain !important;
      min-height: 100% !important;
    }
  }
}