.section_home_solutions {
  background: url('../img/solutions.jpg');
  background-position: 50% 0%;
  background-size: cover;
  padding-top: toRem(125);
  padding-bottom: toRem(200);
  max-width: 100%;
  overflow: hidden;

  @include  laptop {
    padding: clamp(120px, 10.417vw, 125px) 0 clamp(120px, 16.667vw, 200px);
  }

  .sub_title {
    color: $black;
  }

  .octagon-icon {
    background: $black;
  }

  .section_title {
    color: $black;
    letter-spacing: 0;
  }
}

.solutions_slider_controls {
  display: flex;
  flex-wrap: nowrap;
}

.solutions_controls_wrap {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-between;
  margin-top: toRem(20);

  .section_title {
    margin: 0;
  }

  @include mobile {
    margin-top: 43px;
  }

  .controls {
    @include mobile {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.solutions_swiper_container {
  margin-top: toRem(45);

  @include small-tablet {
    margin-top: 60px;
  }

  @include for-tablet {
    //width: 135%;
    max-width: 100%;
    width: 100%;
  }

  @include mobile {
    padding-bottom: 120px;
  }
}

.swiper_item {
  width: toRem(395);
  height: toRem(310) !important;
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 6%);
  background: radial-gradient(59.53% 53.31% at 78.15% 42.3%, #29343A 15.62%, #1E1E1E 100%);
  position: relative;
  display: flex;

  @include mobile {
    height: 252px !important;
    background: radial-gradient(59.53% 53.31% at left 50%, #29343A 15.62%, #1E1E1E 100%)
  }
}

.swiper_item_block {
  padding-top: toRem(30);
  padding-left: toRem(55);
  padding-right: toRem(55);
  padding-bottom: toRem(32);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #00A9EF;

  @include tablet {
    padding-top: 40px;
    padding-right: clamp(25px, 4.583vw, 55px);
    padding-left: clamp(25px, 4.583vw, 55px);
    padding-bottom: clamp(22px, 4.167vw, 32px);
  }
}

.swiper_item_title {
  color: #FFF;
  font-size: toRem(28);
  font-weight: 600;
  line-height: 124%;

  @include small-tablet {
    font-size: clamp(22px, 2.333vw, 28px);
  }
}

.swiper_item_link {
  color: #FFF;
  font-size: toRem(14);
  font-weight: 600;
  line-height: 136%; 
  text-decoration-line: underline;
  text-transform: uppercase;
  display: block;
  
  i {
    margin-left: toRem(10);
  }
}

.solutions_swiper_container {
  display: flex;
  flex-wrap: nowrap;
  gap: toRem(20);
}
