.select {
  position: relative;
  z-index: 1;
  user-select: none;
  //width: 100%;

  &__header {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    height: var(--default-size);
    background: transparent;
    display: flex;
    align-items: center;
    padding: 8px;
    position: relative;
    z-index: 6;
    gap: 10px;

    border-radius: 44px;

    & > svg {
      flex-shrink: 0;
      //fill: transparent;
      //stroke: rgba(var(--bg-f),1.0);
      transition: transform .4s linear;

      width: toRem(5);
      height: toRem(11);

      @include  mobile {
        width: toRem(10);
        height: toRem(22);
      }
    }
  }

  &__current {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: toRem( 16);
    font-family: var(--font-family);
    line-height: 24px;
    color: rgba(var(--cl-b),1.0);

    @include  mobile {
      justify-content: flex-end;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__body {
    width: 100%;
    position: absolute;
    z-index: 5;
    height: 0;
    top: 100%;
    overflow: hidden;
    transition: height 0.2s ease-in;
    margin-top: calc(var(--default-size) + 6px);
    box-shadow: 0px 4px 8px 0px rgba(77, 61, 4, 0);
    border-radius: 8px;

    background:  rgba(var(--bg-a),1.0);

    i {
      margin: 0;
      text-transform: uppercase;
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__list {
    // border: 1px solid var(--br-a);
    overflow-y: auto;
    max-height: toRem(200);
    height: fit-content;
    margin-right: 8px;

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 8px;
    }
  }

  &__option {
    display: flex;
    padding: toRem(10);
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    cursor: pointer;
    // transition: all 0.2s ease;

    color: rgba(var(--cl-a),1.0);
    font-size: toRem(14);
    font-family: var(--font-family);
    line-height: 100%;


    //&:hover {
    //  background:  rgba(var(--bg-c),1.0);
    //  font-weight: 600;
    //}

    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

// .select.active .select__body {
//   height: auto;
// }

.select.active {
  z-index: 3;


  .select__body {
    box-shadow: 0px 4px 8px 0px rgba(77, 61, 4, 0.10);
  }

  .select__header > svg {
    transform: scaleY(-1);
  }
}

.default-select {
  border-radius: 44px;
  border: 1px solid var(--br-d);
  background: rgba(var(--bg-a),1.0);

  .select__current[data-id="0"] {
    color: rgba(var(--cl-e),1.0);
  }

  &.active {
    border-color: var(--br-b);
  }
 }
