.event-body {
	padding: toRem(60) 0 toRem(170);
	background-color: rgba(var(--bg-a),1.0);

	@include laptop {
		padding: clamp(30px, 5vw, 60px) 0 clamp(120px, 14.167vw, 170px);
	}

	&__inner {
		display: grid;
		grid-template-columns: toRem(420) 1fr;
		gap: toRem(100);
		color: rgba(var(--cl-b),1.0);
		position: relative;

		@include tringle(var(--br-g));
		border-bottom: 1px solid var(--br-g);

		&:after {
			transform: translateY(50%);
			bottom: 0;
		}

		@include laptop {
			gap: clamp(30px, 8.333vw, 100px);
			grid-template-columns: minmax(280px, 420px) 1fr;
		}

		@include tablet {
			grid-template-columns: 1fr 1.4fr;
			gap: 30px;
		}

		@include small-tablet {
			grid-template-columns: 230px 1fr;
			gap: 15px;
		}

		@include mobile {
			grid-template-columns: 100%;
		}
	}

	&__aside {
		border-right: 1px solid var(--br-g);
		display: flex;
		flex-direction: column;
		gap: toRem(20);

		position: relative;

		@include tringle(var(--br-g));

		@include mobile {
			display: none;
		}

		&:after {
			right: 0;
			transform: rotate(90deg) translate(-50%, -55%);
		}

		.article-link {
			background: rgba(var(--bg-l),0.1);

			svg {
				fill: rgba(var(--cl-l),1.0);
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
		}

		&-item {
			position: relative;
			border-top: 1px solid var(--br-g);
			@include tringle(var(--br-g));

			&:after {
				top: 0;
			}
		}

		&-title {
			color: rgba(var(--cl-i),1.0);
			font-family: var(--font-family);
			font-size: toRem(14);
			font-style: normal;
			font-weight: 400;
			line-height: 165%;
			text-transform: uppercase;
		}
	}

	&__box {
		padding: 0 0 toRem(45) toRem(0);
		display: flex;
		flex-direction: column;
		gap: toRem(35);
		justify-content: space-between;

		@include mobile {
			gap: 25px;
			padding-bottom: 20px;
		}
	}

	&__date {
		color: rgba(var(--cl-b),1.0);
		font-family: var(--font-family);
		font-size: toRem(63);
		font-style: normal;
		font-weight: 300;
		line-height: 113.5%;
		display: flex;
		align-items: baseline;

		i {
			font-size: toRem(14);
			font-style: normal;
			font-weight: 400;
			line-height: 136%;
			text-transform: uppercase;
		}

		@include small-tablet {
			@include for-mobile {
				font-size: clamp(35px, 5.25vw, 63px);
			}
		}
	}

	&__image {
		clip-path: var(--polly-card);
		background-color: red;
		display: flex;
		border-bottom: toRem(3) solid rgba(var(--bg-f),1.0);
		position: relative;
		align-items: center;
		justify-content: center;
		//flex-grow: 1;

		.bg-word {
			position: absolute;
			z-index: 10;
			top: 0;
			bottom: 0;
			right: 0;
			width: 85%;
		}

		&:before {
			opacity: .9;
			position: absolute;
			inset: 0;
			content: '';
			background-image: var(--main-gradient);
			z-index: 1;
		}

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			max-height: toRem(280);

			@include mobile {
				height: 48.750vw;
			}
		}
	}

	&__name {
		position: absolute;
		z-index: 20;
		max-width: 70%;
		color: rgba(var(--bg-c),1.0);
		text-align: center;
		font-family: Poppins;
		font-size: toRem(47);
		font-style: normal;
		font-weight: 300;
		line-height: 90%; /* 42.3px */
		text-transform: uppercase;

		@include laptop {
			font-size: clamp(23px, 3.917vw, 47px);
		}

		@include mobile {
			font-size: 7.188vw;
		}

		&:before,
		&:after {
			color: rgba(var(--cl-f),1.0);
			font-family: var(--font-family2);
			letter-spacing: -1.46px;
		}

		&:before {
			content: '“';
		}

		&:after {
			content: '“';
		}
	}

	&__bottom {
		width: fit-content;

		display: flex;
		align-items: center;
		gap: toRem(25);

		@include for-mobile {
			margin: auto 0 0 auto;
		}

		@include mobile {
			margin-top: 35px;
		}

		span {
			color: rgba(var(--cl-d),1.0);
			font-family: var(--font-family);
			font-size: toRem(14);
			font-style: normal;
			font-weight: 400;
			line-height: 106.5%;
		}

		&-list {
			display: flex;
			align-items: center;
			gap: toRem(20);
		}
	}
}