.event-card {
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	border-bottom: toRem(1) solid var(--br-f);
	position: relative;

	@include gradient-corner(toRem(56));

	@include mobile {
		grid-template-columns: 100%;
	}

	&:after {
		pointer-events: none;
		background-image: url("../img/bg_footer.png");
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		height: 80%;
		content: '';
		background-size: 100% 100%;
		background-position: left bottom;
		background-repeat: no-repeat;
		transform: scaleY(-1);

		@include mobile {
			width: 90%;
		}
	}

	&__coll {
		border-right: toRem(1) solid var(--br-f);
		display: flex;
		justify-content: space-between;
		gap: toRem(40);
		padding: toRem(10) toRem(40) toRem(40) toRem(0);

		@include laptop {
			gap: clamp(20px, 3.333vw, 40px);
			padding: toRem(10) clamp(20px, 3.333vw, 40px) clamp(20px, 3.333vw, 40px) toRem(0);
		}

		@include mobile {
			padding: 0 0;
			flex-direction: column;
			gap: 24px;
			border-right: none;
		}
	}

	&__title {
		color: rgba(var(--cl-a),1.0);
		font-family: var(--font-family);
		font-size: toRem(26);
		font-style: normal;
		font-weight: 300;
		line-height: 100%;

		@include laptop {
			font-size: clamp(20px, 2.167vw, 26px);
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);

		.events-label {
			color: rgba(var(--cl-a),1.0);

			svg {
				fill: currentColor;
			}
		}

		@include laptop {
			gap: 20px 10px;
		}

		@include ios {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__info {
		padding: toRem(10) toRem(0) toRem(40) toRem(40);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: toRem(47);

		@include laptop {
			padding: toRem(10) toRem(0) clamp(20px, 3.333vw, 40px) clamp(20px, 3.333vw, 40px);
		}

		@include mobile {
			padding: 20px 25px 24px;
			border-right: 1px solid var(--br-f);
		}
	}

	&__image {
		display: flex;
		clip-path: var(--polly-card);
		position: relative;
		z-index: 2;

		img {
			height: toRem(256);
			width: toRem(445);

			@include laptop {
				height: clamp(174px, 21.333vw, 256px);
			}

			@include mobile {
				height: 54.375vw;
				width: 100%;
			}
		}
	}

	&__date {
		display: flex;
		gap: toRem(2);
		align-items: flex-start;
		color: rgba(var(--cl-c),1.0);
		font-family: var(--font-family);
		font-size: toRem(63);
		font-style: normal;
		font-weight: 300;
		line-height: 100%;

		i {
			color: rgba(var(--cl-a),1.0);
			font-size: toRem(14);
			font-style: normal;
			font-weight: 400;
			line-height: 240%;
			text-transform: uppercase;
			white-space: nowrap;

			@include mobile {
				line-height: 140%;
			}
		}

		@include laptop {
			font-size: clamp(30px, 5.25vw, 63px);
		}
	}
}

