.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, minmax(toRem(194), auto));
  justify-content: flex-end;
  gap: toRem(50);

  @include laptop {
    grid-template-columns: repeat(auto-fill, minmax(180px, auto));
    gap: 40px clamp(20px, 5vw, 50px);
  }

  @include small-tablet {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  @include  mobile {
    order: 2;
  }


  &__item {
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    ul {
      display: flex;
      flex-direction: column;
      gap: toRem(6);

      a {
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family2);
        font-size: toRem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        transition: all 300ms;

        &:hover {
          color:  rgba(var(--cl-f),1.0);
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: toRem(6);

    color: rgba(var(--cl-c),1.0);
    font-family: var(--font-family2);
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    text-transform: uppercase;
    margin-bottom: 10px;

    svg {
      fill: currentColor;

      width: toRem(11);
      height: toRem(11);
    }

    @include mobile {
      font-size: 12px;
    }
  }
}