.main-top {
  display: flex;
  flex-direction: column;
  gap: toRem(15);

  @include small-tablet {
    gap: 40px;
  }

  &.mode {
    --cl-a: #{HexToRGB(#0F0F0F)}; // rgba(var(--cl-a),1.0);

    p {
      padding: toRem(20) 0;
      border-top: toRem(1) solid var(--br-e);
      border-bottom: toRem(1) solid var(--br-e);
      display: grid;
      grid-template-columns: 1fr .5fr;
      gap: toRem(20);
      font-size: toRem(26);
      font-style: normal;
      font-weight: 300;
      line-height: 128%; /* 33.28px */

      @include small-tablet {
        font-size: clamp(20px, 2.167vw, 26px);
        grid-template-columns: 1fr minmax(240px, .5fr);
      }

      @include mobile {
        margin-top: -10px;
        grid-template-columns: 100%;

        br {
          display: none;
        }
      }

      &:after {
        content: attr(data-descr);
        border-left: toRem(1) solid var(--br-e);
        font-size: toRem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: calc(toRem(20) * -1) 0;
        padding: toRem(25) toRem(28);
        padding-bottom: toRem(93);
        max-width: toRem(320);

        @include mobile {
          border: none;
          padding: 30px 0;
          max-width: 100%;
        }
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: toRem(7);

    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 136%; /* 19.04px */
    text-transform: uppercase;

    svg {
      fill: rgba(var(--cl-a),1.0);
      width: toRem(11);
      height: toRem(11);
    }

    @include small-tablet {
      font-size: clamp(12px, 1.83vw, 14px);
    }
  }

  &__title {
    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: toRem(63);
    font-style: normal;
    font-weight: 300;
    line-height: 115%; /* 22.12px */


    @include small-tablet {
      font-size: clamp(30px, 8.21vw, 63px);
    }
  }

  &__title + p {
    margin-top: toRem(38);

    @include small-tablet {
      margin-top: clamp(0px, 3.333vw, 40px);
    }

    @include mobile {
      margin-top: -30px;
    }
  }

  p {
    font-size: toRem(14);
  }

}
