.map-box {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  gap: toRem(40);

  &__image {
    display: flex;
    grid-column: 1/-1;
    position: relative;

    @include gradient-corner(toRem(56));
  }

  .contact-list__legend {
    padding: 0;

    &:before,
    &:after {
      content: none;
    }
  }
}