.map-box {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  gap: toRem(60);

  @include laptop {
    gap: clamp(10px, 5vw, 60px);
  }

  @include ios {
    grid-template-columns: 100%;

    .contact-list__item {
      max-width: 246px;
    }
  }

  &__image {
    display: flex;
    grid-column: 1/-1;
    position: relative;

    @include gradient-corner(toRem(56));
  }

  .contact-list__legend {
    padding: 0;

    &:before,
    &:after {
      content: none;
    }
  }
}