.team-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: toRem(20);
  width: 100%;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }

  @include mobile {
    grid-template-columns: 100%;
  }

  &__item {
    clip-path:polygon(0% 0%, 91% 0%, 100% 6%, 100% 100%, 0% 100%);

    @include  for-mobile {
      display: flex !important;
    }

    @include mobile {
      &:nth-child(n+4) {
        display: none;
      }
    }
  }
}

.team-card {
  height: 100%;
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;

  img {
    width: 100%;
    display: flex;
  }

  &__image {
    display: flex;

    img {
      height: toRem(313);

      @include for-desktop {
        height: toRem(413);
      }

      @include mobile {
        height: 70.313vw;
      }
    }
  }

  &__inner {
    padding: toRem(15) toRem(20) toRem(25);
    min-height: toRem(240);
    background: radial-gradient(59.53% 53.31% at 78.15% 42.3%, #29343A 15.62%, #1E1E1E 100%), #1F1F1F;
    display: flex;
    flex-direction: column;
    gap:toRem(35);
    justify-content: space-between;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(15);

    color: rgba(var(--cl-g),1.0);

    @include tablet {
      grid-template-columns: 100%;
    }

    span {
      color: rgba(var(--cl-g),0.8);
      font-size: toRem(14);
      font-weight: 400;
      line-height: 165%;
    }
  }

  &__links {
    display: flex;
    gap: toRem(10);
    flex-wrap: wrap;

    a {
      width: toRem(43);
      height: toRem(43);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(var(--bg-a),1.0);
      clip-path: var(--polly-button);

      img {
        max-width: toRem(20);
        filter: invert(1);
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;

    @include mobile {
      gap: 5px;
      grid-template-columns: 100%;
    }

    .article-link {
      @include for-mobile {
        grid-column: 2;
        grid-row: 1/-1;
      }

      @include mobile {
        margin-top: 25px;
      }
    }

    img {
      grid-row: 1/-1;
      grid-column: 1;
      max-width: toRem(240);
    }

    span {
      color: rgba(var(--cl-g),0.8);
      font-size: toRem(14);
      font-style: normal;
      font-weight: 400;
      line-height: 165%; /* 23.1px */
    }

    a:not([class]) {
      color: rgba(var(--cl-f),1.0);
      font-size: toRem(14);
    }
  }

  &__name {
    font-size: toRem(22);
    font-weight: 600;
    flex-grow: 1;
  }
}